[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
gdeltdoc = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
bounter = "*"
scikit-learn = "*"
altair = "*"
vega-datasets = "*"
cairosvg = "*"
svglib = "*"
altair-saver = "*"
networkx = "*"
aiohttp = "*"
newspaper3k = "*"
lxml = "*"
graphistry = {extras = ["bolt", "gremlin", "igraph", "networkx", "nodexl"], version = "*"}
jupyterlab = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
